@import '../../sass/variables.scss';

.sidebar {
  position: relative;
  flex: 0 0 220px;
  min-height: 100%;
  background-color: $secondary-bg;

  &BackgroundLayer {
    display: none;
  }

  &Logo {
    height: $navbar-height;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Nav {
    &List {
      padding: 60px 0;
    }
    &Item {
      padding: 0;
    }
    &Link {
      display: flex;
      align-items: center;
      padding: 0;
      color: $light-text;
      text-decoration: none;
      padding: 18px 30px;
      width: 100%;
      font-size: 17px;
      transition: 0.3s background-color, 0.3s color;

      &Icon {
        margin-right: 30px;
      }

      &:hover,
      &Active {
        color: $main-text;
        background-color: $light-bg;
      }
      &Active {
        border-right: 4px solid $red;
      }
    }
  }
}

.closeMenuButton {
  display: none;
}

@media screen and (max-width: $medium-width) {
  .sidebar {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s all;
    z-index: 1100;

    &Hidden {
      transform: translateX(-200%);
    }

    &BackgroundLayer {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;

      &Hidden {
        display: none;
      }
    }
  }

  .closeMenuButton {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
}
