.stacking-connected{
    display: flex;
    height: 100vh;
    width: 100%;
    .main{
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        .details-conn{
            display: none;
            
            img{
                margin-right: 10px;
                filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                border: none;
            }
            p{
                color: black;
            }
        }
        .cards{
            background: #F2F5FA;
            padding: 40px;
            
            flex: 1;
            .about-stake{
                width: 40%;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #8A9DB8;
                margin-bottom: 40px;
            }
            .about-stake-center{
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #8A9DB8;
                margin-bottom: 40px;
            }
        }
        .stake-cards-list{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
}
@media screen and (max-width:900px){
    .stacking-connected{
        
        .main{
            
            .cards{
                padding: 10px;
                .details-conn{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                }
                .about-stake{
                width: 100%;  
            
            }
            }
            .stake-card-list{
                margin-right: 0px;
            }
        }

    }   
}