$main-font: 'Inter', sans-serif;

$main-bg: #1a1c21;
$secondary-bg: #26292e;
$light-bg: #313438;
$red: #e3434a;
$main-text: #fff;
$light-text: #c3cbd2;

$navbar-height: 100px;

$large-width: 1199px;
$medium-width: 991px;
$small-width: 575px;
