@import '../../../sass/variables.scss';

.cardModal {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;

  &Title {
    margin-bottom: 10px;
  }

  &Input {
    flex: 1 1 auto;

    &Container {
      display: flex;
      width: 100%;
    }
  }

  &MaxButton {
    margin-left: 10px;
  }

  &Balance {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
