@import '../../sass/variables.scss';

.closeButton {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    height: 3px;
    width: 25px;
    background-color: $main-text;
    margin: -1px 0;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: $medium-width) {
  .closeButton {
    span {
      background-color: $light-text;
    }
  }
}
